body {
  background: #031321;
  font-family: consolas;
  color: black;
}

#todo-table {
  position: relative;
  width: 50%;
  background: #090d13;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

#todo-table form:after {
  margin: 0;
  content: "";
  display: block;
  clear: both;
}

input[type="text"] {
  width: 73%;
  padding: 20px;
  background: #181c22;
  border: 0;
  float: left;
  font-family: cursive;
  font-size: 20px;
  color: #989898;
}

button {
  padding: 20px;
  width: 20%;
  float: left;
  background: #23282e;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-family: cursive;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  width: 100%;
  padding: 20px;
  color: #2196f3;
  box-sizing: border-box;
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: 1px;
}

li:hover {
  text-decoration: line-through;
  background: rgba(0, 0, 0, 0.2);
}
h1 {
  color: cornflowerblue;
  text-align: center;
  text-transform: uppercase;
  font-family: cursive;
}
